/* style.css */

.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#page-title {
    font-size: 30px;
    text-align: left;
    padding: 20px;
    color: white; 
    

    background-image:url(../image/pattern.png); 
    background-size: 25%; 
    background-color: blue;
    background-position: center;
    background-repeat: repeat; 
}
.Text{
    background-color: yellow;
    color: black;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: underline;
}
.tag{
    color: blueviolet;
    
}